examples/aws-cdk-comparison/output/05-parallel-processing.asl.json
{
  "StartAt": "Parallel",
  "States": {
    "Parallel": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Invoke_getUserProfile",
          "States": {
            "Invoke_getUserProfile": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789:function:GetUserProfile",
              "Parameters": {
                "userId.$": "$.userId"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Invoke_getOrderHistory",
          "States": {
            "Invoke_getOrderHistory": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789:function:GetOrderHistory",
              "Parameters": {
                "userId.$": "$.userId"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Invoke_getRecommendations",
          "States": {
            "Invoke_getRecommendations": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789:function:GetRecommendations",
              "Parameters": {
                "userId.$": "$.userId"
              },
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.__parallel",
      "Next": "Assign_profile"
    },
    "Assign_profile": {
      "Type": "Pass",
      "InputPath": "$.__parallel[0]",
      "ResultPath": "$.profile",
      "Next": "Assign_history"
    },
    "Assign_history": {
      "Type": "Pass",
      "InputPath": "$.__parallel[1]",
      "ResultPath": "$.history",
      "Next": "Assign_recommendations"
    },
    "Assign_recommendations": {
      "Type": "Pass",
      "InputPath": "$.__parallel[2]",
      "ResultPath": "$.recommendations",
      "Next": "Return_Result"
    },
    "Return_Result": {
      "Type": "Pass",
      "Parameters": {
        "user.$": "$.profile.name",
        "email.$": "$.profile.email",
        "tier.$": "$.profile.tier",
        "orderCount.$": "$.history.totalSpent",
        "recommendedItems.$": "$.recommendations.items"
      },
      "End": true
    }
  }
}
