examples/aws-cdk-comparison/output/09-secrets-and-config.asl.json
{
  "StartAt": "Invoke_secrets",
  "States": {
    "Invoke_secrets": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
      "Parameters": {
        "SecretId": "prod/external-api-key"
      },
      "ResultPath": "$.secret",
      "Next": "Invoke_config"
    },
    "Invoke_config": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "Parameters": {
        "Name": "/myapp/config/feature-flags",
        "WithDecryption": true
      },
      "ResultPath": "$.flags",
      "Next": "Invoke_callExternalApi"
    },
    "Invoke_callExternalApi": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789:function:CallExternalApi",
      "Parameters": {
        "apiKey.$": "$.secret.SecretString",
        "endpoint.$": "$.endpoint"
      },
      "ResultPath": "$.response",
      "Next": "Return_Result"
    },
    "Return_Result": {
      "Type": "Pass",
      "Parameters": {
        "statusCode.$": "$.response.statusCode",
        "body.$": "$.response.body"
      },
      "End": true
    }
  }
}
